name: ci

on: push

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  run:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Check vm specs
        run: |
          lscpu
          free -h 
          df -h

      - name: Install pkgs
        run: |
          bash scripts/install_pkgs.sh

      - name: Run
        run: |
          bash scripts/test.sh


